.tripsList {
  display: flex;
  width: 65%;
  gap: 1rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 15rem;
}
.addTripItem {
  background-color: rgba(128, 128, 128, 0.6);
  width: 35%;
  height: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}
.addTripTitle {
  font-weight: 600;
  font-size: medium;
}
