.trip {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid rgba(128, 128, 128, 0.2);
  flex-basis: auto;
  width: 200px;
  &.active {
    border: 2px solid rgb(16, 16, 211);
  }
}
.tripInfo {
  padding: 0.5rem;
}
.cityImg {
  width: 100%;
  max-height: 15rem;
  object-fit: fit;
}
.cityName {
  font-weight: 600;
  font-size: 24px;
  margin: 0;
}
