.modalOverlay {
  position: fixed;
  height: 100%;
  width: 100vw;
  top: 0px;
  left: 0;
  background-color: rgba(24, 24, 24, 0.8);
  z-index: 4;
  display: flex;
  justify-content: center;
}
.modalBox {
  width: 500px;
  height: fit-content;
  border-radius: 4px;
  z-index: 5;
  position: relative;
  top: 80px;
  background-color: #fff;
}
.modalBoxHead {
  padding: 20px 0 10px 24px;
  border-bottom: 1px solid rgba(233, 229, 229, 0.8);
  margin-bottom: 1rem;
}
.modalBoxTitle {
  margin-top: 0;
  font-weight: 600;
  text-align: start;
  padding: 0;
}
.buttonClose {
  box-sizing: border-box;
  border: none;
  position: absolute;
  top: 18px;
  right: 16px;
}
