.container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.input {
  width: 30%;
  height: 30px;
  border: 2px solid hsl(0, 0%, 80%);
  padding: 0.5rem 1.9rem;
  color: #000;
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 90%);
}
.input::placeholder {
  color: #000;
  font-weight: 500;
}
.searchButtonIcon {
  position: absolute;
  top: 0.9rem;
  left: 0;
}
.searchIcon {
  width: 1.3rem;
  height: 1.3rem;
}
